<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
  <!-- SCRIPTS -->
  <script src="{{ url_for('static', filename='copyToClip.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='chat.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='notyf.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='supplyHandler.js') }}" type="text/javascript"></script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>

  <script src="{{ url_for('static', filename='timer.js') }}" type="text/javascript"></script>

  <!-- CSS FILES -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notyf.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <!-- INIT A NOTYF -->
  <script type="text/javascript" charset="utf-8">var notyf = new Notyf();</script>

  <!-- THE HEADER -->
  <div id="header" class = "header">
    <table class = "footerAndHeaderTable">
      <tr>
        <td class="alnleft"></td>
        <td><h1>{{ title }}</h1></td>
        <td class="alnright"></td>
      </tr>
    </table>

  </div>

  <!-- THE CLIENT LIST AND INFO ABOUT THE GAME -->
  <div class = "playerList">
    <p><b>Game name:</b></p> <p id = gameName>{{ gameName }}</p>
    <button onclick="copyToClipboard('#gameName'); notyf.confirm('Game name copied to clipboard');"><small>Copy game name to clipboard</small></button>
    <br><br>
    <button onclick="leaveGame();">Leave game</button>
    <br><br>
    <div id = "playerList">
    </div>

  </div>
  <!-- THE ACTUAL CONTENT -->
  <div id = "content" div class = "gameRoomContent">
  </div>


  <!-- THE FOOTER -->
  <div id="footer" class = "footer">
    <table class = "footerAndHeaderTable">
      <tr>
        <td class="alnleft">
          <!-- THE CHAT WINDOW -->
          <div class ="chat">
            <button onclick="toggleChat()" class ="chatbtn">CHAT</button>
            <div id = "chatWindow" class = "chatContent">
            <div id = "loadChat"></div>
            <input type="text" placeholder=".." id ="chatText"></input><button onclick="sendChat();" class = "chatBtnSend">&#128140;</button>
            </div>

          </div>
        </td>
        <td><small>Made by Jonas S. Waaler</small></td>
        <td></td>
      </tr>
    </table>

  <!-- SOCKET HANDLER INCUDED WHEN PAGE IS DONE -->
  <script src="{{ url_for('static', filename='socketHandler.js') }}" type="text/javascript"></script>

  <script type="text/javascript" charset="utf-8">
    $("#content").load("/gameRoomContent");
    $("#loadChat").load("/chatContent");
    refreshPlayerList();
  </script>

  <script type="text/javascript" charset="utf-8">
    document.getElementById("chatText").onkeyup = function (e) {
      if (e.keyCode == 13) {
        sendChat();
      }
    };
  </script>


</body>
</html>
