<html>
<head>
  <title>{{ title }}</title>
  <!-- SCRIPTS -->
  <script src="{{ url_for('static', filename='notyf.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='makeGameHandler.js') }}" type="text/javascript"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{{ url_for('static', filename='misc.js') }}" type="text/javascript"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>

  <!-- CSS FILES -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notyf.min.css') }}">
</head>
<body>
  <!-- INIT A NOTYF -->
  <script type="text/javascript" charset="utf-8">var notyf = new Notyf();</script>
  <div class="makeGameContent">
  {% if error != None %}
  <h3>ERROR: {{ error }}</h3>
  {% endif %}
  <table align="center">
    <tr>
      <tr>
        <td><h3>Create a new game</h3></td>
      </tr>
      <table align="center">
        <form id = "MakeGame">
          <tr>
            <td><p>Your name</p></td><td><p>Name of your game</p></td>
          </tr>
          <tr>
            <td><input class ="centeredInput" name="NameMake" type="text" placeholder="Your name..." pattern="[ÆØÅæøåA-Za-z1-9]{3,10}"></td>
            <td><input class ="centeredInput" name="GameNameMake" type="text" placeholder="Game name..." pattern="[ÆØÅæøåA-Za-z1-9]{4,20}"></td>
            <!-- PASSWORD?
            <td><input class ="centeredInput" name="GamePasswordMake" type="password" placeholder="Password"></td>
            -->
          </tr>
          <tr>
              <td><p><br><small>Nr. of rounds</small></p></td><td><p><small><br>Time (s) per round</small></p></td>
          </tr>
          <tr>
            <td><input class ="IntegerBox" name="NrOfRounds" type="number" step = "1" min = "1" max = "13"></td>
            <td><input class ="IntegerBox" name="TimeForEachRound" type="number" step = "1" min = "2" max = "180"></td>

          </tr>
          </table>
          <tr>
            <td><input type="button" value="Submit" onclick="makeNewGame()"></td>
          </tr>
        </form>
    </tr>
    <tr>
      <br><br>
    </tr>
    <tr>
      <h3>Join an existing game</h3>
      <table align="center">
        <form id = "JoinGame">
          <tr>
            <td><p>Your name</p></td><td><p>Name of the game</p></td>
          </tr>
          <tr>
            <td><input class ="centeredInput" name="NameJoin" type="text" placeholder="Your name..." pattern="[ÆØÅæøåA-Za-z1-9]{3,10}"></td>
            <td><input class ="centeredInput" name="GameNameJoin" type="text" placeholder="Game name..."pattern="[ÆØÅæøåA-Za-z1-9]{4,20}"></td>
            <!-- PASSWORD?
            <td><input class ="centeredInput" name="GamePasswordJoin" type="password" placeholder="Password"></td>
            -->
          </tr>
      </table>
      <td><input type="button" value="Submit" onclick="joinGame()"></td>
      </form>
    </tr>
    <tr>
      <br><br>
      <td><p><small><i>
        Your name must consist of at least 3 letters from a to Z, and be no longer than 8 letters.<br>
        Numbers and norwegian letters [æøå] are allowed, but no whitespace.
      </i></small></p><td>
    </tr>
    <tr>
      <td><p><small><i>
        Your game name must consist of at least 5 letters from a to Z, and be no longer than 20 letters.<br>
        Numbers and norwegian letters [æøå] are allowed, but no whitespace.
      </i></small></p><td>
    </tr>
  </table>
  </div>
  <!-- SOCKET HANDLER INCUDED WHEN PAGE IS DONE -->
  <script src="{{ url_for('static', filename='socketHandler.js') }}" type="text/javascript"></script>

</body>
</html>
