<div id = "contentVote" class="centering">
  {% if nrOfPlayers != nrOfEntries %}
  <p>Collecting data, please wait...</p><br>
  <img src="{{ url_for('static', filename='loading.gif') }}" alt = "loading..." width: "128px" height="128px"></img>
  {% else %}
  <h3>Please vote for your favorite autocomplete</h3>
  {% endif %}
  <table class="centering">
    {% for key, value in autocompletes.items() %}
    {% if value[1] %}
    <tr>
      <td class = 'alnleft'>Seartch string: <i></td><td><b>{{ key }}</b></i></td>
    </tr>

    {% for i in range((value|length) - 1) %}
    {% if value[i+1] %}
    <tr>
      <td class = 'alnleft'>Autocomplete: </td><td><p>{{ value[i+1] }}</p></td>
      <td><input id ="checkBox_{{ value[0] }}_{{ i }}" type = "checkbox" onchange="submitFavorite({{ value[0] }}, {{ i }}, {{ (value|length) }})"></td>
      <br>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
      <td>........................</td><td>........................</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  <div class = "readyBox">
    Please check if ready:<br><br>
    <input type="checkbox" onclick="toggleReady()"></checkbox>
  </div>
</div>
