<div id = "contentVote" class="centering">
  {% if nrOfPlayers != nrOfEntries %}
  <p>Collecting data, please wait...</p><br>
  <img src="{{ url_for('static', filename='loading.gif') }}" alt = "loading..." width: "128px" height="128px"></img>
  {% else %}
  <h3>Please vote for your favorite autocomplete</h3>
  {% endif %}
  <table class="centering">
    {% for i in range(nrOfEntries) %}
    {% if searchStrings[i] %}
    <tr>
      <td class = 'alnleft'>Seartch string: <i></td><td><b>{{ searchStrings[i] }}</b></i></td>
    </tr>
    {% for j in range(autocompletes[i]|length) %}
    <tr>
      <td class = 'alnleft'>Autocomplete: </td><td><p = "nr{{ i }}">{{ autocompletes[i][j] }}</p></td><br>
    </tr>
    {% endfor %}
    <tr>
      <td>........................</td><td>........................</td>
    </tr>
    {% else %}
    <div id = "nr{{ i }}"></div>
    {% endif %}
    {% endfor %}
  </table>
  <div class = "readyBox">
    Please check if ready:<br><br>
    <input type="checkbox" onclick="toggleReady()"></checkbox>
  </div>
</div>
